*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans"
}

html,body{
	height: 100%;
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}

.clear{
	clear: both;
}

.center{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding:0 2%;
	text-align: center;
}

.container-banner{
	width: 100%;
	padding: 0 2%;
	height: 557px;
	background-image:url('../images/header_bg.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.container-banner > .center{
	height: 100%;
	/*text-align: right;*/
}

.descricao{
	margin-top: 100px;
	max-width: 700px;
	width: 50%;
	height: calc(100% + 30px);
	float: right;
	color: white;

}
.descricao h1{
	padding-bottom: 30px;
}

.container{
	margin-top:50px;
	float: left;
}

.container img{
	width: 300px;
	border: 10px solid rgba(50, 54, 101, 0.4);
	border-radius: 50%;

}

.section-1{
	padding:50px 2%;
	background-color: rgb(228, 228, 228);
}

.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}
.text-container-single img{
	color: white;
}
.container-section{
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin: 30px 0;
	
}
.container-single{
	margin: 0 30px;
	display: inline-block;
	cursor: pointer;
	width: 30.5%;
	height: 150px;
	padding:30px;
	background-color: #a899ff;
	transition: .2s;
	margin-right: -4px;
	
}

.container-single h2{
	color: rgb(0, 0, 0);
}
.container-single img{
	width:40px;
	
}
.container-single:hover{
	transform: scale(1.01);
	
}

.footer{
	clear:both;

	padding:20px 0;
	text-align: center;
	color:rgb(0, 0, 0);
	background-color: #9784ff;
	
}

.footer p{
	margin-top:8px;
	
}
.footer a{
	color: rgb(0, 0, 0);
	text-decoration: none;
	cursor: pointer;
}

@media screen and (max-width: 1020px) {
	.container img{
		width: 350px;
		border: 12px solid rgba(50, 54, 101, 0.4);
		border-radius: 50%;
	}

	.container-banner{
		width: 100%;
		padding: 16px 2%;
		height: auto;
		text-align: center;
	}
	.descricao{
		margin-top: 75px;
		width: 40%;
		height: 100%;
		float: right;
		text-align: justify;
	}
	
}
@media screen and (max-width: 720px){
	.container{
		margin-top:10px;
		text-align: center;
		float: none;
	}
	
	.container img{
		width: 200px;
		border: 12px solid rgba(50, 54, 101, 0.4);
		border-radius: 50%;
	}

	.descricao{
		margin-top: 30px;
		float: none;
		display: inline-block;
		width: 90%;
		text-align: center;
	}

}