*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'BIZ UDGothic', sans-serif;
	
	
}
body{
	text-decoration: none;	
}
header{
	width: 100%;
	background-image:linear-gradient( to right, rgb(14, 9, 32),rgb(42, 42, 68));

}
main{
	background-image: url("/images/header_bg.png");
	background-size: cover;
	background-attachment: fixed;
}
.center{
	display: flex;
	align-items: center;
	gap: 30px;
	max-width: 1020px;
	width: 100%;
	margin: 0 auto;
	padding:10px 2%;
}
.section-1{
	padding: 2% ;
}
.descricao{
	color: white;
	font-size: 19px;
}


.tecnologias{
	padding: 30px 0;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 30px;
	
}
.tecnologias div{
	display:flex ;
	flex-direction: column;
	align-items: center;
	min-width: 200px;
	height: 200px;
	padding: 50px;
	background: linear-gradient(rgb(255, 115, 197), rgb(113, 189, 255)) ;
	border-radius: 50px;
	cursor: pointer;
	gap: 10px;
	transition: 0.3s;
}
.tecnologias div:hover{
	transform: scale(1.06);
	transition: 0.1s;
}

.logo{
	width: 230px;
	border-radius: 50%;
	animation: pulse 1s linear infinite;
	
}
footer{
	display: flex;
	background-image:linear-gradient( to right, rgb(14, 9, 32),rgb(42, 42, 68));
	padding: 2%;
	text-align: center;
	justify-content: center;
}
footer p{
	color:rgb(255, 115, 197);
	margin: 30px;
}
.box-redesocial p{
	font-size: 20px;
	
}
.redesocial{
	display: flex;
	justify-content: space-evenly;
}
.redesocial a{
	color:white;
	text-decoration: none;
}
.contato{
	text-align: left;
}
.contato p{
	display: flex;
	gap: 10px;
	align-items: center;
}
.contato a{
	color: white;
	font-size: 22px;
}
.contato span{
	color: white;
	font-size: 23px;
}
@keyframes pulse{
	0%{

		box-shadow: 0 0 0 0 rgba(110, 110, 110, 0.589);
	}
	100%{
	
		box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) ;
	}
}

@media (max-width:800px){
	header{
		flex-direction: column;
	}	
	.tecnologias{
		align-items: center;
		justify-content: center;
	}
	.tecnologias div{
		width:70%;
		flex-direction: row;
		justify-content: space-around;
		
	}
	.tecnologias a{
		font-size: 23px;
	}
	.tecnologias div svg{
		width: 130px;
	}
	footer{
		flex-direction: column ;
	
	}
	.box-redesocial{
		display: flex;
		align-items: center;
	}
	.redesocial a{
		margin: 0 10px;
		
	}
}
